body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


quiz {
  display: flex;
}

.box {
  padding: 10px;
  margin: 10px;
  background: aqua;
  text-align: center;
}

.box_red {
  padding: 10px;
  margin: 10px;
  background: red;
}

.box_yellow {
  padding: 10px;
  margin: 10px;
  background: yellow;
}