body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  border-style: solid;
}


quiz {
  display: flex;

  
}

.box {
  padding: 10px;
  margin: 10px;
  background: white;
  text-align: center;
  border-style: solid;
}

.resultsContainer {
  display:flex;
  flex-flow: row wrap;
  padding: 10px;
  margin: 10px;
  background: white;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}

.result {
  width: 300px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  background: white;
  text-align: center;
  border-style: solid;
  border-width: 1px;

}

.box_red {
  padding: 10px;
  margin: 10px;
  background: lightgrey;
  border-style: solid;
}

.questionsContainer {
  display:flex;
  flex-flow: column wrap;
  padding: 10px;
  margin: 10px;
  background: white;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}

.questions {
  display:flex;
  flex-flow: row wrap;
  padding: 10px;
  margin: 10px;
  background: white;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  justify-content: center;

}

.answer {
  width: 300px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  background: white;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.box_green {
  display:flex;
  padding: 10px;
  margin: 10px;
  background: white;
  border-style: solid;

}